@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://dotnet.microsoft.com/apps/aspnet/microservices">Microservices with .NET</a>.</p>
</div>